# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.js
# testing
coverage

# next.js
.next/
out/
build
.swc/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# ui
dist/

.idea/
# serena MCP
.serena/
.playwright-mcp/overlay-opened.png
.playwright-mcp/overlay-test.png
.playwright-mcp/page-2025-11-12T16-06-16-477Z.png
.playwright-mcp/page-2025-11-12T16-14-56-481Z.png
.playwright-mcp/page-2025-11-12T16-15-10-674Z.png
.playwright-mcp/page-2025-11-12T16-15-45-086Z.png
.playwright-mcp/page-2025-11-12T16-18-57-855Z.png
.playwright-mcp/page-2025-11-12T16-19-20-879Z.png
.playwright-mcp/page-2025-11-12T16-21-00-774Z.png
.playwright-mcp/page-2025-11-12T16-29-59-973Z.png
*.tsbuildinfo
