
.scaffold {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto minmax(0, 1fr) auto;
    grid-template-areas:
      "header"
      "body"
      "footer";
}

.scaffold-header {
    grid-area: header;
}

.scaffold-body {
    grid-area: body;
    overflow-y: auto;
}

.scaffold-footer {
    grid-area: footer;
}